html,body{height: 100%;margin:0;width:100%:}

.carousel img{height: 600px;width:auto;}
.titre1{text-align: center;border:10px solid pink;width: 80%;	 }
h1,h2,h3,h4{width: 300px;margin:auto;}

.titre2{font-family: 'Pattaya';
		color:white; sans-serif;	
		background-color: #ff4081;
		}

.text{font-size: 25px;margin:100px;}		
.text1{margin-bottom: 0px;padding-bottom: 150px;}


.zoom i{font-size: 400%;margin-left: 25px;}
.zoom i:hover{font-size: 530%;}

.class1{margin:10px 100px 10px 100px !important;}
.text-center<a{text-align: center;}
.blabla{border:solid pink 10px;
		height: auto;
		padding: 50px;width: 50%;}

.navbar{background-color: #ff4081;}
.text-center{width: auto;margin-right: 20%;margin-left: 20%}
.card-footer{text-align: center;}
.bordur1{border:solid pink 10px;}
br>.espace1{padding-bottom: 200px;}
.menu1{margin-right:150px;}
.menu2{margin-left: 150px;}
.image9{width: 50%;margin-top: 50px;}
.row{margin-right: 0 !important;margin-left:0 !important;}
.bougepas{height: 100px;}
html{scroll-behavior: smooth;}


